{{#if currentUser}}
<div class="card-profile">
  
  <h1 class="titleProfilePosition">My Account</h1>

  <hr>
 
    {{!-- <hr class="lineProfileConfiguration"> --}}
    <div class="profile-info-img">
      <form action="/profile" method="POST"> </form>
      <div class=" profile-img">
        <img src="../images/UserProfile.png" alt="User Profile">
      </div>
      <div class="profile-info">

        <h2>Username: <span>{{currentUser.username}}</span></h2>
        <h2>Email: <span> {{currentUser.email}}</span></h2>
      </div>
          {{!-- <p>Username: {{currentUser.username}}</p>
          <p>Email: {{currentUser.email}}</p> --}}
      {{!-- <hr class="lineProfileConfiguration"> --}}
        {{!-- </div>
        <form action="/logout" method="post" class="pt-4 profileLogOutBtnPosition">
          <button type="submit" class="bg-blue-600 text-white p-2 rounded-md w-32">Log out</button>
        </form>
      </div> --}}
      
      {{#if errorMessage}}
        {{errorMessage}}
      {{/if}}
    </div>


</div>
{{else}}
  <p>Still not logged in </p>
{{/if}}


{{!-- {{#if currentUser}}
      <div>
        <h1>My Account</h1>
        <div class="profile-info-img">
          <div class="profile-img">
            <img src="../images/UserProfile.png" alt="profile-img">
          </div>
          <div class="profile-info">
            <h2>Username: <span>{{currentUser.username}}</span></h2>
            <h2>Email: <span> {{currentUser.email}}</span></h2>
          </div>

      {{#if errorMessage}}
        {{errorMessage}}
      {{/if}}

       </div>

      </div>
  
{{else}}
  <p>Still not logged in </p>
{{/if}} --}}