<h4>{{city.name}} </h4>
<p>{{city.description}}</p>
<img src="{{city.image}}" />
<a href="/cities/{{city._id}}/createTouristicPoint">Add Touristic Point</a>


<h2>Touristic Points:</h2>
<div>
  {{#if city.touristicPoints}}

    {{#each city.touristicPoints}}
      <div class="box" id="{{this._id}}">
        <p>Name: {{name}}</p>
        <p>Description: {{description}}</p>
        <a href="/cities/{{../city._id}}/touristicPoints/{{this._id}}/edit"> Edit the Book</a>
      </div>
      <form action="/cities/{{../city._id}}/deleteTouristicPoint/{{this._id}}" method="post">
      <button type="submit">Delete</button>
    </form> 
    {{/each}}

  {{else}}
    <p>No Touristic Points!</p>
  {{/if}}
</div>

