<h4>{{city.name}} </h4>
<p>{{city.description}}</p>
<img src="{{city.image}}" />
<a href="/cities/{{city._id}}/createTouristicPoint">Add Touristic Point</a>


<h2>Touristic Points:</h2>
<div>
  {{#if city.touristicPoints}}

    {{#each city.touristicPoints}}
      <div class="box" id="{{this._id}}">
        <p>Name: {{name}}</p>
        <p>Description: {{description}}</p>
        <a href="/cities/{{../city._id}}/touristicPoints/{{this._id}}/edit"> Edit Touristic Point</a>
      </div>
      <form action="/cities/{{../city._id}}/deleteTouristicPoint/{{this._id}}" method="post">
        <button type="submit">Delete</button>
      </form> 

      <!-- Form to Create a Review -->  
      <form action=" /cities/{{../city._id}}/touristicPoints/{{this._id}}/createReview" method="post">
      
      <label for="content">Content</label>
      <textarea name="content" id="content" cols="30" rows="2"></textarea>

      <label for="rating">Rating</label>
      <input type="number" name="rating">

      <button type="submit">Create the review</button>
      </form>

      {{#each reviews}}
        <div>
          <!-- Actually displaying the review -->
          <p> <span>Review for {{../name}}: </span> {{content}} <span>RATING:{{rating}}</span></p>
          <!-- Deleting the Review -->

          {{!-- <form action=" /cities/{{.../city._id}}/deleteTouristicPoint/{{../touristicPoint._id}}}}/deleteReview/{{._id}} /review/delete/{{_id}}" method="post">
             <button type="submit">Delete</button>
          </form> --}}

         </div>
      {{/each}}

    {{/each}}


  {{else}}
    <p>No Touristic Points!</p>
  {{/if}}
</div>

