<h2 class="text-center text-4xl font-thin titlePosition my-10">Cities in
  {{country.name}}</h2>
<div class="city-list">
  {{#each country.cities}}
    <div class="city-card">
      <a href="/cities/{{_id}}">
        <img src="{{image}}" class="imgCardDetails" />
        <h3 class="text-xl text-white text-center">{{name}}</h3>
      </a>
      <p class="text-justify m-4">
        {{description}}
      </p>
    </div>
  {{/each}}
</div>